body { /*Corps du site*/
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.menu{ /*Header du site*/
    background-color: rgba(217,217,217,1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo-header{
    height: 95px;
    
}

h1 {
    color: #D9D9D9;
    font-family: fleur de leah, sans-serif;
    font-weight: 700;
    font-size: 55px;
    font-style: normal;
    justify-content: center;
}

h2{
    border-bottom: #000000 1px solid;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-page{
    color: black; 
    margin-left: 3%;
    width: 210px;
    font-size: 24px;
}

.bordereau{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(217,217,217,1) -10%, rgba(65,0,7,1) 9%, rgba(74,3,8,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.bordereau h1{
    display: flex;
    background-color: transparent;
    margin-top: 35px;
    width: 300px;
    height: 50px;
    align-items: center;
    padding-left: 5%;
    border-bottom: #D9D9D9 solid 1px;
}

.bordereau p{
    padding-left: 5%;
    font-family: poppins, sans-serif;
}

p:not(.pspe){
    color: #3d3d3d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.pspe{
    color: #D9D9D9;
}

.bordereau p{
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 920px;
    height: 170px;
    font-size: 24px;
    margin-top: 35px;
}

.shiromini{
    margin-top: 35px;
    margin-bottom: 35px;
}

.RS{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: -10px;
}

.social{
    height: 48px;
    margin-left: 15px;
}

/*jaquettes album*/
.discoimg{
    height: 250px;
    width: 250px;
    border: #000000 solid 1px;
}


nav ul li a {
    color: black; 
    text-decoration: none;
    font-style: italic;
}

nav ul li a:hover {
    color: black; 
}

.main-center{
    margin: 60px;
}

.separateur{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main {
    background: rgb(142,43,55);
    background: linear-gradient(180deg, #8E2B37 9%,rgba(65,0,7,1) 8%, rgba(217,217,217,1) 30%);
    /* background-color: rgba(142,43,55,1);; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
}

footer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo-footer{
    height: 150px;
}

/* menu déroulant : éléments textuels du menu*/
nav ul {
    list-style-type: none;
}

nav:not(.notnav) ul li{
    float: left;
    width: 25%;
    text-align:left;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px
}

.deroulant a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
/*éviter que le logo soit souligné en jaune aussi nav => deroulant*/



/*menu déroulant : cacher le menu + couleur de fond aux sous menus pour qu'ils se démarquent*/
.sous{
    display: none;
    
    box-shadow: 0px 1px 2px orange;
    background-color: #3a3a3a;
    opacity: 100%;
    position: absolute;
    z-index:10;
}

nav > ul li:hover .sous{
    display: flex;
    flex-direction: column;
} 
/* Ce sélecteur permet de cibler un sous menu .sous lorsqu'un utilisateur passe sa souris sur un élément li de la liste représentant notre menu principal */

/* Afficher les sous menus les uns en dessous des autres + occupent tout l'espace dispo */

.sous li{
    float : none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content :"▼";
    font-size: 12px;
}

/*faire en sorte que le contenu du header ne soit pas poussé vers le bas avec une position absolute*/

/*Side bar menu*/

aside{
    background-color: #BCBBBB;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 350px;
    margin-top: 55px;
    position: sticky;
    top: 5%;
}

.align{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-left: 1px solid #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}

aside ul li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

aside ul li a {
    color: black;
    text-decoration: none; 
}

aside ul li a:hover {
    color: rgb(255, 0, 34); 
}

/*Display de mon corps de texte pour les actus*/
.actudiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


.actuimg{
    height: 250px;
    width: 250px;
    border: #000000 1px solid;
}

.actudiv>article{
    margin: 10%;
}

/*Display de mon corps de texte pour les actus*/
.discodiv{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.discoimg{
    height: 250px;
    width: 250px;
    border: #000000 1px solid;
}
 
.discodiv>article{
    margin: 10%;
}    

/*clips*/

.slides{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    max-width: 600px; height: 400px;
    left: 20px;
}

.slides video, .slides label {
    position: absolute;
  }

.slides input[type="radio"] { display: none; }
.slides figure {
  visibility: hidden; opacity: 0;
  transition: all 0.5s;
}

.slides input[type="radio"]:checked + figure {
  visibility: visible; opacity: 1;
}

  .slides label, .slides figcaption {
    color: #fff; background: rgba(0, 0, 0, 0.7);
  }
  
  /* (PART C) SLIDE IMAGES */
  .slides video {
    top: 0; left: 0;
    width: 100%; height: 100%; object-fit: cover;
  }
  
  /* (PART D) SLIDE CAPTION */
  .slides figcaption {
    bottom: 0; left: 0;
    width: 100%; padding: 10px; text-align: center;
  }
  
  /* (PART E) LAST & NEXT BUTTONS */
  .slides label {
    top: 50%; transform: translateY(-50%); 
    display: flex; align-items: center; justify-content: center;
    width: 50px; height: 50px; border-radius: 50%;
    font-size: 1.5em; cursor: pointer;
  }
  .slides label.last { left: -75px; }
  .slides label.next { right: -75px; }

.bouton{
    height: 90px;
}

.news-box{
    background-color: #D9D9D9;
    width: 350px;
    padding: 20px;
}

.marg-top{
    margin-top: 10px;
}

